@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "List";
}


<h1>@Model.Message</h1>


<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" asp-for="SearchTerm" class="form-control" />
            <span>
                <button class="btn btn-default">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">

    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a asp-page="/Restaurants/Details" asp-route-restaurantId="@restaurant.Id" class="btn">
                    <i class="fas fa-info"></i>
                </a>
                <a asp-page="/Restaurants/Edit" asp-route-restaurantId="@restaurant.Id" class="btn">
                    <i class="fas fa-pen"></i>
                </a>
            </td>
        </tr>
    }

</table>


<a asp-page="./Edit" class="btn btn-outline-dark">
    Add New
</a>



